/* MAIN CSS FILE
Css for home, about and other main pages goes in here 
-------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@font-face{
    font-family: AmerigoBT ;
    src:    url("/assets/fonts/amerigo_bt-webfont.woff2") format("woff2")
            url("/assets/fonts/amerigo_bt-webfont.woff") format("woff");
    font-style: normal;
}
@font-face{
    font-family: AmerigoBT ;
    src:    url("/assets/fonts/amerigo_bold_bt-webfont.woff2") format("woff2")
            url("/assets/fonts/amerigo_bold_bt-webfont.woff") format("woff");
    font-weight: bold;
}
@font-face{
    font-family: AmerigoBT ;
    src:    url("/assets/fonts/amerigo_italic_bt-webfont.woff2") format("woff2")
            url("/assets/fonts/amerigo_italic_bt-webfont.woff") format("woff");
    font-style: italic;  }


 

h1, h2, h3, h4 {
    font-family: 'AmerigoBT', Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
}
p{  font-size: 1em; 
    line-height: 1.2em;}
h1{ font-size: 3.375em;
        line-height: 1.3;}
h2{ font-size: 2.825em;
        line-height: 1.4;}
h3{ font-size: 2em;
    line-height: 1.2;
}

h4{ font-size: 1.6em;
    line-height: 1.2;
}

h5{ font-size: 1.375em;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
}
h6{ font-size: 1em;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
}

p{
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
}

a{  color: black;
    text-decoration: none;}
hr{ 
    border-top: solid grey 1px;
    margin: 40px 0 40px 0;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.caption{
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    margin: 20px 0 20px 0;
}


body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: white;
    color: #383838;
}

/* Header 
-------------------------------------*/
#header{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80px;
    margin: 0;
    top: 0;
    left:0;
    padding: 0;
    z-index: 3;
    padding: 40px 0 0 0;

}
#headerBackground{
    display: none;
    background-color: rgb(255,255,255);
    -webkit-box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.14);
    box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.14);
    position: fixed;
    height: 72px;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
}
/* Navigation 
-------------------------------------*/
nav{
    position: fixed;
    color: #383838;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    padding: 10px 7px 10px 7px;
}

/* All Parallax in here 
-------------------------------------*/

/* .parallax{
    top: 0;
    perspective: 20px;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0px 0 0px;

    overflow-x: hidden;
    overflow-y: auto;

}
.back{
    transform: translateZ(-5px) scale(1.35);
}
.back2{
    transform: translateZ(-5px) scale(1.35);
} */
/* .front{
    transform: translateZ(5px) scale(0.75);
} */
/* LANDING PAGE
-------------------------------------*/
/* Welcome Titles 
-------------------------------------*/
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 160px 0 0 0;
    padding: 0 0px 0 0px ;
}

#titleParent {
    display: grid;
    margin: 0;
    padding: 80px 0 150px 0;
    top: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    max-width: 1200px;
    z-index: 10;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    z-index: 1;
    }
    
#title1 { grid-area: 1 / 1 / 3 / 11; }
#title2 { grid-area: 5 / 3 / 7 / 13; }
#title3 { grid-area: 5 / 1 / 7 / 9; }

.title{
    padding: 10% 2% 10% 2%;
}

/* Processing Eyecatcher 
-------------------------------------*/


#processingHolder{
    position: absolute;
    width: 100%;
    top: -180px;
    left: 0%;
    display: block;
    z-index: -1;

}
#processingReplacer{
    position: absolute;
    display: none;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -3;
}
#processingReplacer img{
    height: 100%;
    width: 280vh;
    max-width: 500vh !important;
}

#hider{
    background-color: #F6F4F4;
    width: 100vw;
    height: 100%;
    top: -100vh;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
    -moz-box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
    box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
}

#projectsBackground{
    background-color: #F6F4F4; 
    width: 100vw;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
    -moz-box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
    box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);


}

/* Index Projects Section*/
#projectCardWrapper{
    display: flex;
    align-self: center;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 1000px;
    margin-top: 10vhp;
    
    z-index: 1;
}
.projectCard{
    margin: 200px 15px 0 15px;
    padding: 40px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    z-index: 1;
    padding: 70px;
    background-color: white;
    border-radius: 5px;
    
    
}
.projectCard h1{
    margin: 30px 0 30px 0;
}
.cardImages{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.cardImages img{
    max-width: 100%;
    min-width: 200px;

}
.cardInfo{
    justify-self: right;
    max-width: 60ch;
}

/* #motivationWrapper{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 70%;
    padding: 300px 0 100px 0;
    z-index: 2;
} */

/* #motivation{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    width: 50%;
    color: rgb(245,247,247) ;
    background-color: rgb(80,60,155);
    border-radius: 5px;
    padding: 40px 40px 100px 40px;
    -webkit-box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.24);
    box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.24);
} */

/* HOVERS
-------------------------------------*/

/* Rotate */
.hvr-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0.5px) translateZ(0);
    transform: perspective(0.5px) translateZ(0);
    -webkit-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.32);
    box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.32);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }

 /* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  height: 3px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


/* ABOUT PAGE
-------------------------------------*/


.aboutOpener {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 140px);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    max-width: 1100px;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    }
    
    #welcome1 { grid-area: 1 / 1 / 5 / 9; }
    #welcome2 { grid-area: 12 / 6 / 17 / 13;}
    #portrait { grid-area: 7 / 4 / 12 / 13; }

.aboutTitle{
    padding: 10% 2% 10% 2%;
}

#cv{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: rgb(42, 116, 100) ;
    border-radius: 10px;
}
.cvItem{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgb(245,247,247);
    padding: 20px;
    margin: 30px;
}

.right{
    border-right: 2px solid rgb(245,247,247);
    align-self: flex-end;
    align-items: flex-end;
    text-align: right;
}
.left{
    border-left: 2px solid rgb(245,247,247);
    align-self: flex-start;
    align-items: flex-start;
    text-align: left;
}
.cvItem p{
    width: 70%;
    align-self: inherit;
    align-items: inherit;
    color: inherit;
    font-weight: 400 ;
}


/* Tablet Size
------------------------------ */

@media all and (min-width: 1024px) { 
    html{font-size: 16px;}

    #headerBackground{
        display: none !important;
    }
    nav ul li a{        
        color: rgb(20,20,20) ;
    }
    #projectCardWrapper{
        width: 80% ;
        padding-top: 20vh;
    }
    #hider{
        top: 300vh ;
    }
    
}
 
@media all and  (max-width: 1024px) { 
    html{font-size: 16px;}

    #headerBackground{
        display: block !important;
        z-index: 2;
    }
    nav{
        padding: 20px 30px 0 0  !important;
    }
    nav ul li a{        
        color: rgb(20,20,20) ;
    }
    #projectCardWrapper{
        width: 80% ;
        padding-top: 800px;
    }
    

    #processingHolder{
        display: none;
        z-index: -3;
    }
    #processingReplacer{
        display: block;
    }
    #cv{
        width: 75% ;
    }
    /* #hider{
        top: 280vh ;
    } */
}

/* Smartphone Size
------------------------------ */

@media all and  (max-width: 768px) {
    html{font-size: 14px;}
    
    
    /* .content{
        margin-top: 40px ;
    } */
    #titleParent{
        width: 100%;
        display: block ;

    }
    
    #title2{
        display: none;
    }
    #title3{
        display: none;
    }
    /* #hider{
        top: 230vh;
    } */
    .cardImages img{
        max-width: 100% ;
    }
    .cardImages img:nth-of-type(2){
        display: none;
    }
    #projectCardWrapper{
        width: 90% ;
        min-width: 320px;
    }

    .projectCard{
        padding: 30px 30px 60px 30px ;
        margin-top: 120px;
    }
    #motivationWrapper{
        display: flex ;
        width: 110% ;
        padding: 100px 0 0 0;

    }
    #motivation{
        width: 100% ;
    }

    /* About Page */
    .aboutOpener{
        display: flex;
        justify-content: center ;
        align-items: center ;
        flex-direction: column 
    }
    .aboutOpener img{
        
        margin: 0 auto;
    }
    #cv{
        width: 100% ;
        padding-top: 0;
    
    }
    /* .parallax{
        perspective: 0;
    } */
    /* .back{
        transform: translateZ(0) scale(1.0);
    }
    .back2{
        transform: translateZ(0) scale(1.0);
    } */
    .hvr-underline-reveal:before{
        height: 0px;
    }
    /* #hider{
        height: 550% !important;
    } */

    }
 
 @media all and  (max-width: 480px) {
     h2{
         font-size: 2em ;
     }
     /* #hider{
        top: 120vh;
    } */
    #projectCardWrapper{
    }
 }