/* MAIN CSS FILE
Css for home, about and other main pages go in here 
-------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Nunito:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Karla:wght@400;700&family=Nunito:wght@300;400;600&display=swap');

@font-face {
    font-family: 'AmerigoBT';
  
    src:    url("fonts/AmerigoBT.woff") format("woff"), 
            url("fonts/AmerigoBT.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
  }
@font-face{
    font-family: "AmerigoBT" ;
    src:    url("fonts/AmerigoBTbold.woff") format("woff2")
            url("fonts/AmerigoBTbold.woff2") format("woff");
    font-weight: bold;
}




 

h1, h2, h3, h4 {
    font-family: 'AmerigoBT', Georgia, 'Times New Roman', Times, serif ;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    float: left;
    padding-bottom: 10px;
}


h1{ font-size: 9.3em;
        line-height: 1.0;}
h2{ font-size: 4.5em;
        line-height: 1.4;}
h3{ font-size: 2em;
    line-height: 1.2;
}

h4{ font-size: 1.6em;
    line-height: 1.2;
}

h5, h6 {
    font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2em;
    text-align: left;
    font-style: 200;
}

h5{ font-size: 1.375em;
    font-style: normal;
    font-weight: normal;
}
h6{ font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.5px;
}

p{
    font-size: 1em; 
    line-height: 1.4em;
    padding-bottom: 10px;    
    text-align: left;
    font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: block;
    z-index: 2;
}

a{  color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;}
hr{ 
    border-top: solid grey 1px;
    margin: 40px 0 40px 0;
    width: 100%;
}
img{
    max-width: 120% !important;
    max-height: 120% !important;
    z-index: 1;
}
th, td{
    color: #B8B5C3;
    padding-top: 12px;
    padding-right: 24px;
    vertical-align: top;
}
table{
    margin: 20px;
}
.caption{
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    margin: 20px 0 20px 0;
}
video{
    max-width: 100%;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: white;
    color: #2A292B;
}

/* Header 
-------------------------------------*/
#header{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: inherit;
    align-self: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    margin: 0;
    top: 0;
    left:0;
    z-index: 3;
    padding: 0;
    position: fixed;
    height: 72px;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: none;


}



/* Navigation 
------------------------------------- */

#logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 5vw;
    align-items: center;
    height: 100%;
    max-height: 72px;
    z-index: 3;

}
.navigation{
    display: flex;
    align-self: flex-end !important;
    justify-content: flex-start;
    align-content: flex-start;
    z-index: 4;
    height: 72px;
    margin-right: 5vw;
}
.navigation hr{
    display: none;
}

nav{
    /* position: fixed; */
    color: #383838;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    padding: 0px 4px 0px 4px;
    vertical-align: top;
}
.hamburger{
    display: none !important;
}
#navTop{
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    align-self: flex-start;
    justify-items: flex-start;
    height: 72px;

}
.navItem{
    /* width: 100vw; */
    font-size: 1em;
    display: flex;
    padding-left: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
}


/* All Parallax in here 
-------------------------------------*/

 .parallax{
    top: 0;
    perspective: 20px;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0px 0 0px;

    overflow-x: hidden;
    overflow-y: auto;

}
/*
.back{
    transform: translateZ(-5px) scale(1.35);
}
.back2{
    transform: translateZ(-5px) scale(1.35);
} */
/* .front{
    transform: translateZ(5px) scale(0.75);
} */
/* LANDING PAGE
-------------------------------------*/
/* Welcome Titles 
-------------------------------------*/
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 160px 0 0 0;
    padding: 0 16px 0 16px ;
    /* width: 100vw; */
}

#titleParent {
    display: grid;
    margin: 0;
    padding: 5vh 0 0 0;
    top: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 30vh);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    max-width: 1200px;
    z-index: 10;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    z-index: 1;
    }
    
#title1 { 
    grid-area: 1 / 1 / 3 / 11; 
    z-index: 3;
}
#title2 { 
    grid-area: 4 / 4 / 8 / 14; 
    z-index: 3;
}



/* Processing Eyecatcher 
-------------------------------------*/


/* #processingHolder{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0%;
    display: block;
    z-index: -1;

} */
#processingReplacer{
    position: absolute;
    display: none;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -3;
}
#processingReplacer img{
    height: 100%;
    width: 280vh;
    max-width: 500vh !important;
}

#hider{
    background-color: #F6F4F4;
    width: 100vw;
    height: 100%;
    top: -100vh;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
    -moz-box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
    box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
}

#projectsWrapper{
    background-color: #FFFFFF; 
    color: #383838 !important;
    width: 100vw;
    display: flex;
    align-self: center;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
    -moz-box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
    box-shadow: 3px 7px 28px -6px rgba(0,0,0,0.36);
}
#moreProjectsWrapper img{
    width: 40vw;
}

/* Index Projects Section*/


.projectSlider{
    display: flex;
    flex-direction: column;
    align-content: left;
    align-items: left;
    justify-content: left;
    width: 100vw;
    padding: 0 ;
    background-color: #F2F2F2 ;
    border: none ;
    outline: none ;
}
.sliderTitle{
    padding: 10vh 10% 0 10%;
}
.sliderTitle:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 1;
  }
.projectSlider hr{
    margin: 0  !important;
    width: 100%;
    align-self: center;
    border: 1px solid lightgray;
}
.projectSlider img{
    width: 50px;
    height: 50px;
    align-self: flex-end;
    padding: 5vh 30px 30px 0;
    opacity: 0.5;
}
.projectSlider img:hover{
    opacity: 1;
}
.sliderContent{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #F2F2F2;
    top: 0;
    max-height: 0;
    overflow: hidden;
    width: 100vw;
    margin: 0;
    transition: max-height 0.2s ease-out;
    z-index: 0;
}
.sliderContent div {
    margin: 12px 0 12px 0;
}
.sliderContent img{
    margin: 12px 0 12px 0;
}

  

#projectCardWrapper{
    display: flex;
    align-self: center;    
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 1000px;
    margin-top: 10vh;
    
    z-index: 1;
}
.projectCard{
    margin: 200px 15px 0 15px;
    padding: 40px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    z-index: 1;
    padding: 70px;
    background-color: white;
    border-radius: 5px;
    
    
}
.projectCard h1{
    margin: 30px 0 30px 0;
}
.cardImages{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.cardImages img{
    max-width: 100%;
    min-width: 200px;

}
.cardInfo{
    justify-self: right;
    max-width: 60ch;
}

/* #motivationWrapper{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 70%;
    padding: 300px 0 100px 0;
    z-index: 2;
} */

/* #motivation{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    width: 50%;
    color: rgb(245,247,247) ;
    background-color: rgb(80,60,155);
    border-radius: 5px;
    padding: 40px 40px 100px 40px;
    -webkit-box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.24);
    box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.24);
} */

/* HOVERS
-------------------------------------*/

/* Rotate */
.hvr-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0.5px) translateZ(0);
    transform: perspective(0.5px) translateZ(0);
    -webkit-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.32);
    box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.32);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }

 /* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  height: 3px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


/* ABOUT PAGE
-------------------------------------*/


.aboutOpener {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 140px);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    max-width: 1100px;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    }
    
    #welcome1 { grid-area: 1 / 1 / 5 / 9; }
    /* #welcome2 { grid-area: 12 / 6 / 17 / 13;} */
    #portrait { grid-area: 5 / 4 / 12 / 13; }

.aboutTitle{
    padding: 10% 2% 10% 2%;
}

#cv{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: rgb(42, 116, 100) ;
    border-radius: 10px;
}
.cvItem{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgb(245,247,247);
    padding: 20px;
    margin: 30px;
}

.right{
    border-right: 2px solid rgb(245,247,247);
    align-self: flex-end;
    align-items: flex-end;
    text-align: left;
}
.left{
    border-left: 2px solid rgb(245,247,247);
    align-self: flex-start;
    align-items: flex-start;
    text-align: left;
}
.cvItem p{
    width: 70%;
    align-self: inherit;
    align-items: inherit;
    color: inherit;
    font-weight: 400 ;
}


/* Tablet Size
------------------------------ */

@media all and (min-width: 1024px) { 
    html{font-size: 16px;}

    
    nav ul li a{        
        color: rgb(20,20,20) ;
    }
    
    #projectCardWrapper{
        width: 80% ;
        padding-top: 20vh;
    }
    #hider{
        top: 300vh ;
    }
    
}
 
@media all and  (max-width: 1024px) { 
    html{font-size: 16px;}

    

    #header{
        display: flex ;
        z-index: 2;
        background-color: rgb(255,255,255);
        -webkit-box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.14);
        -moz-box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.14);
         box-shadow: 0px 9px 18px -3px rgba(0,0,0,0.14);

    }
   
    .hamburger{
        display: flex !important;
        flex-direction: flex-end;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        height: 100%;
        max-height: 72px;
        top: 16px;
        right: 16px;
        z-index: 5;
    }
    nav ul li a{        
        color: rgb(20,20,20) ;
    }
    .navigation{
        display: none;
        flex-direction: column;
        align-self: center;
        align-content: center;
        justify-content: center;
        margin-right: 0;
        margin-top: 0;
        z-index: 2;
        height: auto;
    }
    .navigation hr{
        display: block;
        border: solid #F2F2F2 1px !important;
    }
    .navItem{
        width: 100vw;
        margin: 12px 0 12px 0;
        font-size: 20px;
        padding: 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
    }
    /* .navigation a{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
    } */

    .navigation a:active{
        background-color: #F2F2F2;
    }
    
    #navTop{
        justify-content: space-between;
        display: flex;
        width: 100%;
        height: 72px;
        top: 0;
        left: 0;
        right: 0;
    }
    ul{
        margin-top: 80px;
        font-size: 20px;
        display: flex;
        /* flex-direction: column !important; */
        justify-content: space-around;
    }
    .hamburgerContent{
        display: none;
        height: 30vh;
        background-color: darkblue;
    }
    .active{
        display: flex !important;
        height: 222PX !important;
    }
    .activeNav{
        display: flex !important;
        position: fixed;
    }


    #projectCardWrapper{
        width: 80% ;
        padding-top: 800px;
    }
    #moreProjectsWrapper img{
        width: 60vw;
    }
    

    #processingHolder{
        display: none;
        z-index: -3;
    }
    #processingReplacer{
        display: block;
    }
    #cv{
        width: 75% ;
    }
    /* #hider{
        top: 280vh ;
    } */
}

/* Smartphone Size
------------------------------ */

@media all and  (max-width: 768px) {
    html{font-size: 14px;}
    
    #titleParent{
        width: 100%;
        display: grid ;
        grid-template-rows: repeat(6, 15vh);


    }
    
    
    #title3{
        display: none;
    }
    
    .cardImages img{
        max-width: 100% ;
    }
    .cardImages img:nth-of-type(2){
        display: none;
    }
    #projectCardWrapper{
        width: 90% ;
        min-width: 320px;
    }

    .projectCard{
        padding: 30px 30px 60px 30px ;
        margin-top: 120px;
    }
    #motivationWrapper{
        display: flex ;
        width: 110% ;
        padding: 100px 0 0 0;

    }
    #motivation{
        width: 100% ;
    }

    /* About Page */
    .aboutOpener{
        display: flex;
        justify-content: center ;
        align-items: center ;
        flex-direction: column 
    }
    .aboutOpener img{
        
        margin: 0 auto;
    }
    #cv{
        width: 100% ;
        padding-top: 0;
    
    }
    .hvr-underline-reveal:before{
        height: 0px;
    }
    h1{
        font-size: 48px;
    }

    }
 
 @media all and  (max-width: 480px) {
     h2{
         font-size: 2em ;
     }

     
    }