/* MAIN CSS FILE
Css for home, about and other main pages go in here 
-------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Nunito:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Karla:wght@400;700&family=Nunito:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;600&family=Montserrat:wght@600&display=swap');

@font-face {
    font-family: 'AmerigoBT';
  
    src:    url("fonts/AmerigoBT.woff") format("woff"), 
            url("fonts/AmerigoBT.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
  }
/* @font-face{
    font-family: "AmerigoBT" ;
    src:    url("fonts/AmerigoBTbold.woff") format("woff2")
            url("fonts/AmerigoBTbold.woff2") format("woff");
    font-weight: bold; */

h1, h2, h4 {
    font-family: 'Barlow', Georgia, 'Times New Roman', Times, serif ;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    float: left;
    padding-bottom: 10px;
}
h1{ font-size: 16vw;       
    line-height: 0.75;
    letter-spacing: -1.3vw;}

h2{ font-size: 4.2rem;
    line-height: 1.4;}

h3{ font-family: 'AmerigoBT', Georgia, 'Times New Roman', Times, serif ;
    font-style: normal;
    font-size: 3.0rem;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 300;
}
h4{ font-size: 2.6rem;
    line-height: 1.2;
    font-weight: 300;
}
h5, h6 {
    font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2em;
    text-align: left;
}
h5{ font-size: 1.475rem;
    letter-spacing: 1.2px;
    font-style: normal;
    font-weight: 400;
}
h6{ font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}
p{
    font-size: 1rem; 
    line-height: 1.4rem;
    padding-bottom: 10px;    
    text-align: left;
    font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: block;
    z-index: 2;
}
a{  color: black;
    text-decoration: none;
}
hr{ 
    border-top: 1px solid grey;
    margin: 40px 0 40px 0;
    width: 100%;
}
img{
    max-width: 100% !important;
    max-height: 100% !important;
    z-index: 1;
}
th, td{
    padding-top: 12px;
    padding-right: 24px;
    vertical-align: top;
    line-height: 1.4rem;
}
table{
    margin: 36px;
}
.caption{
    font-size: 0.9rem;
    margin: 20px 0 20px 0;
}
video{
    max-width: 100%;
    z-index: 1;
}


/* Body 
--------------------------------------------------------*/
body{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: white;
    color: #212022;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Header 
----------------------------------------------------------*/
#header{
    top: 0;
    left:0;
    right: 0;
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: inherit;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    margin: 40px;
    z-index: 12;
}

/* Head Navigation 
--------------------------------------------------------- */
#navTop{
    top: 0;
    width: 100%;
    padding: 4vh 6.5vw;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-self: center;
    justify-items: center;
}
.navItem{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center
}



/* LANDING PAGE
------------------------------------------------------------------*/

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0 0 0 0 ;
    width: 100%;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Welcome Message & About Me Section 
-------------------------------------*/

#openerParent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 90vh 1.8fr 3fr;
    grid-column-gap: 24px;
    grid-row-gap: 80px;
    /* max-width:1600px; */
    height: 300vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    }
    
    #openerMessage { 
        grid-area: 1 / 1 / 2 / 7;
        margin: 0 6vw;
    }
    .openerMessageSmallText{
        font-size: 10rem;
    }

    #openerPhoto { 
        grid-area: 2 / 1 / 3 / 7; 
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;        
        width: 100vw;
        }
    #openerPhoto::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */          
    }

    #carousel{
        padding: 4vw 4vw 4vw 50vw;
        width: 110vw;
        display: flex;
        align-items: center;
        gap: 4vw;
        overflow-x: scroll;
        white-space: nowrap;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
    }
    .carouselPhoto{
        width: 100vw;
    }


    #openerAboutMe { 
        grid-area: 3 / 1 / 5 / 6;
        margin: 6vw;
    }
    #openerGraphic { 
        grid-area: 3 / 5 / 5 / 7;
        margin: 0 100px 0 0 ;
    }
    #openerGraphic img{
        margin: 30vh 0 0 0;
    }

.openerMessageLine{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-start;
}

.bigButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    min-width: 260px;
    padding: 3vw;
    margin: 1vw;
}



#closerParent{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 88vw;
    padding: 20vh 0 10vh 0 ;
}
#closerContentWrapper{
    width: 100%;
}
#myEmoji{
    font-size: 9rem;
}
#buttonParent{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 30vh 0 0 0 ;
}

/* Project Section 
----------------------------------------------------------*/

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 24px;
    grid-row-gap: 80px;
    margin: 4vw;
    }
    
    .bigCard1 { grid-area: 1 / 1 / 2 / 3; }
    .smallCard1 { grid-area: 2 / 1 / 3 / 2; }
    .smallCard2 { grid-area: 2 / 2 / 3 / 3; }
    .bigCard2 { grid-area: 3 / 1 / 4 / 3; }
    .div5 { grid-area: 4 / 1 / 5 / 3; }


.projectsContainer div{
    display: block;
}
.projectCaption{
    margin-top: 1.5rem;
}



/* Content
----------------------------------------------------------*/
#contentWrapper{
    padding-top: 40vh;
}
.sliderContent{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #F2F2F2;
    top: 0;
    max-height: 0;
    overflow: hidden;
    width: 100vw;
    margin: 0;
    transition: max-height 0.2s ease-out;
    z-index: 0;
}
.sliderContent div {
    margin: 16px;
}
.sliderContent img{
    margin: 12px 0 12px 0;
}


/* Media Query - Small Screens 1024px
---------------------------------------------------------------------- */

@media all and (max-width: 1024px) { 
    #openerParent {
        grid-template-rows: 110vh 60vh 3fr;
        grid-column-gap: 24px;
        grid-row-gap: 80px;
        height: 280vh;
        }   
    #openerButton{
        display: none;
    }
    #buttonParent{
        flex-direction: column;
        gap: 16px;
        padding: 10vh 0 0 0 ;
    }
}



/* Media Query - Tablet Size
---------------------------------------------------------------------- */

@media all and  (max-width: 768px) {

    html{font-size: 14px;}
    
    h1{
        font-size: 9rem;
        letter-spacing: -0.8rem;
        line-height: 1;
    }
    h2{
        font-size: 2.3rem ;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-size: 2rem;
    }

    #navTop{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }
    #openerParent {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1vh 2fr 3fr;
        grid-column-gap: 24px;
        grid-row-gap: 80px;
        height: 160vh;
        width: 100%;
        }
    #openerAboutMe { 
        grid-area: 3 / 1 / 5 / 7;
        margin: 4vw;        
    }
    #myEmoji{
        font-size: 4rem;
    }
    .bigButton{
        min-width: 180px;
   }
   #openerMessage{
       display: none;
   }
   #carousel{
    padding: 0 0 0 10vw ;
    width: 220vw;
   }
   
}
/* Media Query - Phone Size
---------------------------------------------------------------------- */
 @media all and  (max-width: 480px) {
 
    html{font-size: 14px;}
    
    h1{
        font-size: 5.5rem;
        letter-spacing: -0.1em;
        line-height: 1;
    }
    h2{
        font-size: 1.7rem ;
    }
    h3{
        font-size: 2rem;
    }
    h5{
        font-size: 1rem;
    }
    /* Navigation ----------------------------------------- */




    /* Opener ----------------------------------------- */

    #openerParent{
        grid-template-rows: 0 50vh 50vh;
    }
    .openerMessageLine{
        align-content:flex-start;
        justify-content:flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .openerMessageSmallText{
        font-size: 4rem;
    }
    .bigButton{
        min-width: 180px;
   }

   /* Projects Section -------------------------------------- */

   .projectsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    }
    
    .bigCard1 { grid-area: 1 / 1 / 2 / 3}
    .smallCard1 { grid-area: 2 / 1 / 3 / 3 !important}
    .smallCard2 { grid-area: 3 / 1 / 4 / 3 !important}
    .bigCard2 { grid-area: 4 / 1 / 5 / 3}
    .bigCard3 { grid-area: 5 / 1 / 6 / 3} 


 
}



    /* HOVERS
-------------------------------------*/

