/* SUB CSS FILE
Css for sub pages as projects / blog go in here
-------------------------------------*/


/* PROJECT PAGE
------------------------------------------------------------------*/


/* Grid
-------------------------------------*/




/* ABOUT PAGE
--------------------------------------------------------------*/




/* MEDIA QUERIES
----------------------------------------------------------------------*/


@media all and (min-width: 1024px) { 
    html{font-size: 16px;}

}
 
/* Small Screen Size
---------------------------------------------------------------------- */
@media all and  (max-width: 1024px) { 
    html{font-size: 16px;}

    
}
/* Tablet Size
---------------------------------------------------------------------- */
@media all and  (max-width: 768px) {
    html{font-size: 14px;}
    
    
}
/* Phone Size
---------------------------------------------------------------------- */
 @media all and  (max-width: 480px) {
    
    
 }