/* SUB CSS FILE
Css for sub pages as projects / blog go in here
-------------------------------------*/


/* PROJECT PAGE
-------------------------------------*/


/* Grid
-------------------------------------*/
.projectContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.projectWrapper{
    top: 0;
    align-items: flex-start;
    justify-items: flex-start;
    justify-content: flex-start;
    z-index: 10;
    width: 100vw;
    max-width: 1300px;
}
.projectWrapper img{
    max-width: 100%;
}
.projectWrapper p{    
    max-width: 380px;
    min-width: 280px;
    margin: 36px;
}
.itemLeft{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.itemRight{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
    flex-direction: column;
    width: 100%;
}
.itemCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 100%;
}


/* .projectDescription { grid-area: 1 / 1 / 4 / 10;}
.pictures1 { grid-area: 3 / 7 / 9 / 13; }
.description1 { grid-area: 6 / 1 / 8 / 6; }
.description2 { grid-area: 10 / 2 / 13 / 7; }
.pictures2 { grid-area: 10 / 8 / 15 / 13; }
.description3 { grid-area: 16 / 2 / 17 / 7; }
.pictures3 { grid-area: 19 / 2 / 22 / 13; }
.projectLine{ grid-area: 7 / 1 / 19 / 2;}
.projectGrid hr{grid-area: 23 / 3 / 24 / 10;} */

/* Containers
-------------------------------------*/

.projectDescription{
    max-width: 480px;;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    width: 50%;
    margin-bottom: -150px;
}


/* .projectMotivatonWrapper{
    justify-content: left;
    align-items: left;
    padding: 50px 0 120px 0;
}

.projectMotivation{
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: rgb(245,247,247);
    background-color: rgb(80,60,155);
    border-radius: 5px;
    padding: 40px 40px 40px 40px !important;

} */
.projectGrid img{
    width: auto;
    height: auto;
    display: block;
}
.textBlock{
    width: 100%;
    padding: 20px 0px 20px 0px;    
}
.textBlock h1{
    padding-bottom: 50px;
}

.projectGrid div{
    padding: 70px 0px 70px 0px;
}
.pictures2 img{
    padding-bottom: 40px;
}

.projectGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .pic1 { grid-area: 1 / 1 / 2 / 2; }
    .pic2 { grid-area: 1 / 2 / 2 / 3; }
    .pic3 { grid-area: 2 / 3 / 3 / 4; }
    .pic4 { grid-area: 2 / 2 / 3 / 3; }


.projectLine{
    border-left: 3px solid grey;
    height: 100%;
    padding: 30px;
}

/* MEDIA QUERIES
-------------------------------------*/


@media all and (min-width: 1024px) { 
    html{font-size: 16px;}

    nav ul li a{        
        color: rgb(20,20,20) ;
    }
}
 
@media all and  (max-width: 1024px) { 
    html{font-size: 16px;}

    #headerBackground{
        display: none;
    }
    nav ul li a{        
        color: rgb(20,20,20) ;
    }
    .textBlock{
        width: 70%;
        padding: 50px 0 50px 0;
    }

    .projectGrid{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 1;
    }
    .motivation{
        width: 70%;
        align-self: flex-end;
        align-items: flex-end;
    }
    .pictures2 img{
        padding-bottom: 40px;
    }
    .projectWrapper p{    
        max-width: 300px;
        /* padding: 7vw !important; */
    }
    

}


@media all and  (max-width: 768px) {
    html{font-size: 14px;}
    nav{
        padding: 0 0 0 0  ;
    }
    .projectLine{
        display: none;
    }

    .projectDescription{
        width: 100%;;
    }
    .projectWrapper{
        width: 90vw !important;
        justify-content: center !important;
        align-items: center !important;
        justify-items: center !important;
    }
    .projectWrapper div{
        margin: 5vh !important;
        flex-direction: column !important;
    }
    .projectWrapper p{
        margin: 5vh !important;
    }
    

}
 
 @media all and  (max-width: 480px) {
    img{
        max-width: 100% !important;
    }
    html{font-size: 14px;}

    h2{
         font-size: 2em ;
     }
    .projectGrid{
        display: flex ;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }
    .motivation{
        width: 100%;
    }
    
    .projectWrapper{
        /* width: 90vw !important; */
        justify-content: center !important;
        align-items: center !important;
        justify-items: center !important;
    }
    .projectWrapper div{
        justify-content: center !important;
        align-items: center !important;
        justify-items: center !important;
        margin: 0 0 0 0 !important;
    }
    
    .projectWrapper p{    
        max-width: 100%;
        margin: 5vh 0 5vh 0 !important;

        /* padding: 7vw !important; */
    }

 }